:root{
  font-size: calc(1vw + .45rem);
  box-sizing: border-box;
  --white-like:#f7f2ec;
  --purple : purple ;
}

*,
::after,
::before{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: cursive;
}

body{
  background: linear-gradient(90deg, lightblue,rgb(245, 148, 224));  
  padding: .1em .5em;
}

.card{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0.5em;
}


/* navbar */


.navbar{
    display: flex;
    justify-content: normal;
    align-items: center;
    font-size: 1.2em;
    gap: 1em;
    padding: .2em 0;
}

.links{
  margin-left: auto;
}

.a-link{
  padding: 0.2em 1.21em;
  text-decoration: none;
  color: rgb(79, 79, 248);
  box-shadow: 5px 5px 6px white;
  margin-left: 0.5em;
  background-color:  transparent;
  border-radius: 0.2em;
  color: purple;
  border: none;
}

.logo > a > svg :hover  {
   color : var(--white-like) 
}
.navbar .links >a:hover{
  color : var(--white-like);
  background-color: var(--purple);
  
}
.logo > a > svg :hover{
  color: var(--purple)
}


/*  */


.main-content{
  padding: 1em .5em;
  display: flex;
  column-gap: 1.5em;
}

.side{
  flex: 1 1;
  display: flex;
  row-gap: 0.3em;
  flex-direction: column;
}
.main{
  flex: 3;
}

.btn{
  font-size: 1.2em;
    padding: 0.3em 2.7em;
    border: none;
    border-radius: 0.2em;
    color: purple;
    background-color: #f7f2ec;
    transition: hover 2sec;
    text-decoration: none;
    text-align: center;
}
.btn:hover{
  background-color: purple;
  color: #f7f2ec;
}

.btn-end{
   margin-top: auto;
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main > img{
  width: 29.5em;
}

.main> p{
  position: absolute;
}

.notes{
  display: flex;
    flex-direction: column;
    row-gap: 0.45em;
}


.note{
  border: 2px solid white;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: .41em;
  box-shadow: 3px 3px 7px white;
  transition: hover .4sec;
}
.note:hover{
  background-color:rgb(245, 148, 224);
}
.note > h3:hover{
  color: #f7f2ec;
}
.btn-svg{
    padding: 0.3em;
    border-radius: 0.35em;
    border: none;
    color: purple;
}
.group-btn{
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
}

.btn-svg > svg{
  font-size: 2.3em;
}

.note > h3{
    color: purple;
    font-weight: 600;
    font-size: 1.4em;
}



/* about page */

.about-page{
  display: flex;
  column-gap: 1.1em;
}
.about-img{
  flex: 1;
  padding: 0.1em 0.5em;
  position: relative;
}
.about-img > h1{
  position: absolute;
  top: 2%;
  left: 20%;
  color: purple;
  text-shadow: 3px 3px 7px #e32cc4;
  transition: hover .3sec;
}

.about-img > img{
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 0.21em;
  box-shadow: 7px 3px 11px 1px purple;
}
.about-page-info{
  flex: 1;
}
.about-page-info > section > h2{
  color: var(--purple);
}

.about-page-info > section > p{
  font-size: 1.2em;
}


/* contact us page */

.contact-us-page{
  display: flex;
}
.contact-form{
  flex: 1;
}
.contact-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.7em;
}

.heading{
  text-align:left;
  font-size: 1.5em;
  color: purple;
  padding: 0.4em 0.1em;
  text-transform: uppercase;
}

.contact-form >.heading{
  text-align: center;
}

.contact-form > form > * {
  display: block;
  padding: 0.5em 0.7em;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  color: purple;
}

.social-info{
  flex: 1;
  display: flex;
  flex-direction: column;
 
}
.social-info > h3{
 text-align: center;
}
.link{
  display: flex;
    gap: 1.3em;
    align-items: center;
    padding: 0.51em;
    justify-content: center;
}

.link > a{
  text-decoration: none;
  color:  black;
  padding: .2em .1em;
  font-weight: 550;
  font-size: 1.2em;
}
.link > a:hover{
  color: var(--purple);
  text-shadow: 2px 2px 3px gray;
}


.information{
  flex:1;
}


/* not-form  */

.note-form{
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: .5em;
}

.note-input{
    padding: 0.5em 1.5em;
    display: block;
    border: none;
    gap: .5em;
    border-radius: 7px;
}
.btn-group > button{
  border: none;
}